# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
VisionTracker.VC.db
*.opendb
*.tlog
VisionTracker/x64/Debug/VisionTracker.log
*.log
*.obj
VisionTracker/VisionTracker.vcxproj.filters
*.user
*.suo
*.pdb
x64/Debug/VisionTracker.ilk
*.idb
x64/Debug/VisionTracker.exe
*.iobj
x64/Release/VisionTracker.ipdb
x64/Release/VisionTracker.exe
